This tutorial provides an example of how to load pandas dataframes into a `tf.data.Dataset`.

This tutorials uses a small [dataset](https://archive.ics.uci.edu/ml/datasets/heart+Disease) provided by the Cleveland Clinic Foundation for Heart Disease. There are several hundred rows in the CSV. Each row describes a patient, and each column describes an attribute. We will use this information to predict whether a patient has heart disease, which in this dataset is a binary classification task.

## Read data using pandas

In [1]:
import pandas as pd
import tensorflow as tf

Download the csv file containing the heart dataset.

In [2]:
filename = "D:\\Sandbox\\Github\\DATA\\heart.csv"
csv_file = tf.keras.utils.get_file(filename, 'https://storage.googleapis.com/download.tensorflow.org/data/heart.csv')

Read the csv file using pandas.

In [3]:
df = pd.read_csv(csv_file)

In [4]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [5]:
df.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

Convert `thal` column which is an `object` in the dataframe to a discrete numerical value.

In [6]:
df['thal'] = pd.Categorical(df['thal'])

In [8]:
df['thal']

0      1
1      2
2      2
3      2
4      2
      ..
298    3
299    3
300    3
301    3
302    2
Name: thal, Length: 303, dtype: category
Categories (4, int64): [0, 1, 2, 3]

In [9]:
df['thal'] = df.thal.cat.codes

In [10]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

## Load data using `tf.data.Dataset`

Use `tf.data.Dataset.from_tensor_slices` to read the values from a pandas dataframe. 

One of the advantages of using `tf.data.Dataset` is it allows you to write simple, highly efficient data pipelines. Read the [loading data guide](https://www.tensorflow.org/guide/data) to find out more.

In [11]:
target = df.pop('target')

In [12]:
dataset = tf.data.Dataset.from_tensor_slices((df.values, target.values))

In [13]:
for feat, targ in dataset.take(5):
  print ('Features: {}, Target: {}'.format(feat, targ))

Features: [ 63.    1.    3.  145.  233.    1.    0.  150.    0.    2.3   0.    0.
   1. ], Target: 1
Features: [ 37.    1.    2.  130.  250.    0.    1.  187.    0.    3.5   0.    0.
   2. ], Target: 1
Features: [ 41.    0.    1.  130.  204.    0.    0.  172.    0.    1.4   2.    0.
   2. ], Target: 1
Features: [ 56.    1.    1.  120.  236.    0.    1.  178.    0.    0.8   2.    0.
   2. ], Target: 1
Features: [ 57.    0.    0.  120.  354.    0.    1.  163.    1.    0.6   2.    0.
   2. ], Target: 1

Since a `pd.Series` implements the `__array__` protocol it can be used transparently nearly anywhere you would use a `np.array` or a `tf.Tensor`.

In [14]:
tf.constant(df['thal'])

<tf.Tensor: shape=(303,), dtype=int8, numpy=
array([1, 2, 2, 2, 2, 1, 2, 3, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 2,
       2, 2, 3, 2, 2, 2, 2, 2, 2, 3, 2, 2, 2, 2, 2, 3, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 0, 2, 2, 2, 3, 2, 2, 2, 2, 2, 2, 2, 2, 3, 1, 1, 2, 2,
       2, 2, 2, 2, 3, 3, 2, 2, 2, 2, 2, 2, 2, 3, 2, 2, 2, 3, 2, 3, 3, 3,
       2, 2, 2, 3, 2, 2, 2, 3, 2, 3, 2, 2, 2, 3, 2, 3, 2, 2, 2, 2, 2, 2,
       2, 3, 3, 3, 2, 2, 2, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 1, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 3, 2,
       2, 2, 2, 2, 3, 3, 2, 2, 2, 2, 2, 2, 3, 2, 3, 3, 1, 3, 2, 3, 3, 3,
       3, 2, 3, 1, 3, 3, 2, 3, 3, 2, 3, 3, 3, 3, 3, 3, 3, 3, 2, 3, 2, 3,
       3, 1, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 3, 3, 3, 3, 3,
       3, 3, 2, 3, 3, 3, 3, 3, 3, 3, 2, 3, 3, 2, 2, 3, 3, 3, 2, 3, 3, 2,
       1, 3, 1, 3, 3, 1, 3, 3, 3, 3, 2, 2, 2, 3, 3, 3, 2, 3, 3, 2, 3, 2,
       2, 2, 2, 2, 2, 3, 3, 2, 2, 3, 2, 3, 3, 3, 2, 2, 1, 0, 1, 3, 3, 3,
       2, 2, 3, 3, 3, 1, 1, 3, 1, 3, 2, 1, 3, 3, 3, 3, 2], dtype=int8)>

Shuffle and batch the dataset.

In [15]:
train_dataset = dataset.shuffle(len(df)).batch(1)

## Create and train a model

In [16]:
def get_compiled_model():
  model = tf.keras.Sequential([
    tf.keras.layers.Dense(10, activation='relu'),
    tf.keras.layers.Dense(10, activation='relu'),
    tf.keras.layers.Dense(1)
  ])

  model.compile(optimizer='adam',
                loss=tf.keras.losses.BinaryCrossentropy(from_logits=True),
                metrics=['accuracy'])
  return model

In [17]:
model = get_compiled_model()
model.fit(train_dataset, epochs=15)

Epoch 1/15
WARNING:tensorflow:Layer dense is casting an input tensor from dtype float64 to the layer's dtype of float32, which is new behavior in TensorFlow 2.  The layer has dtype float32 because its dtype defaults to floatx.

If you intended to run this layer in float32, you can safely ignore this warning. If in doubt, this warning is likely only an issue if you are porting a TensorFlow 1.X model to TensorFlow 2.

To change all layers to have dtype float64 by default, call `tf.keras.backend.set_floatx('float64')`. To change just this layer, pass dtype='float64' to the layer constructor. If you are the author of this layer, you can disable autocasting by passing autocast=False to the base Layer constructor.

303/303 [==============================] - 0s 894us/step - loss: 22.0074 - accuracy: 0.5842
Epoch 2/15
303/303 [==============================] - 0s 869us/step - loss: 1.1987 - accuracy: 0.6106TA: 0s - loss: 1.4974 - accuracy:
Epoch 3/15
303/303 [==============================] - 0s 872us/step - loss: 1.1792 - accuracy: 0.5974
Epoch 4/15
303/303 [==============================] - 0s 826us/step - loss: 1.0930 - accuracy: 0.6337
Epoch 5/15
303/303 [==============================] - 0s 813us/step - loss: 0.8447 - accuracy: 0.6403
Epoch 6/15
303/303 [==============================] - 0s 864us/step - loss: 0.8340 - accuracy: 0.6568
Epoch 7/15
303/303 [==============================] - 0s 864us/step - loss: 0.7865 - accuracy: 0.6832
Epoch 8/15
303/303 [==============================] - 0s 968us/step - loss: 0.7587 - accuracy: 0.6436
Epoch 9/15
303/303 [==============================] - 0s 1ms/step - loss: 0.7645 - accuracy: 0.6403
Epoch 10/15
303/303 [==============================] - 0s 876us/step - loss: 0.6614 - accuracy: 0.7063
Epoch 11/15
303/303 [==============================] - 0s 866us/step - loss: 0.6294 - accuracy: 0.7195
Epoch 12/15
303/303 [==============================] - 0s 862us/step - loss: 0.5742 - accuracy: 0.7294
Epoch 13/15
303/303 [==============================] - 0s 854us/step - loss: 0.5804 - accuracy: 0.7327
Epoch 14/15
303/303 [==============================] - 0s 882us/step - loss: 0.5599 - accuracy: 0.7261
Epoch 15/15
303/303 [==============================] - 0s 908us/step - loss: 0.7193 - accuracy: 0.7261